<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Adrian - Bubble Head!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="../assets/css/mystyle.css" rel="stylesheet">
    <link href="../assets/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>
    <div id="header">
        <div id="logo" class="name">
           ini logo 
        </div>
    </div>

    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">BubbleHead</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">Order Now</a></li>
              <li><a href="#gallery">Gallery</a></li>
              <li><a href="#contact">Contact Us</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
<div class="row">
<div class="span12">	
	<div id="myCarousel" class="carousel slide"> 
            <div class="carousel-inner"> 
              <div class="item active"> 
                <img src="../assets/img/bootstrap-mdo-sfmoma-01.jpg" alt=""> 
                <div class="carousel-caption"> 
                  <h4>First Thumbnail label</h4> 
                  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p> 
                </div> 
              </div> 
              <div class="item"> 
                <img src="../assets/img/bootstrap-mdo-sfmoma-02.jpg" alt=""> 
                <div class="carousel-caption"> 
                  <h4>Second Thumbnail label</h4> 
                  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p> 
                </div> 
              </div> 
              <div class="item"> 
                <img src="../assets/img/bootstrap-mdo-sfmoma-03.jpg" alt=""> 
                <div class="carousel-caption"> 
                  <h4>Third Thumbnail label</h4> 
                  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p> 
                </div> 
              </div> 
            </div> 
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a> 
            <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a> 
          </div>
	</div>
</div>
<div style="clear:both"></div>
<div id="name" class="row">
<div id="name" class="span7">
   <div style="margin: 10px;">
       <h2>Product Description</h2>
       <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p> 
       <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p> 
       <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p> 
       <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p> 
   </div>
</div>
<div id="name" class="span5">
   <div class="breadcrumb">
       <div style="padding: 10px;">
           <h4>Product Order</h4>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p> 
        </div>
   </div>
   <div style="height:10px; clear:both"></div>
    <div id="name" class="breadcrumb">
       <h4>Order Type</h4>
       <br>
       <select id="ordertype" onChange="orderType()" class="span2" style="margin-left:30px;">
           <option value="Buy 1">Buy 1</option>
           <option value="Buy 3">Buy 3</option>
       </select>
       <br><br>
       <h4>School</h4>
       <br>
       <div id="name" class="span4">
        <ul class="thumbnails">
          <li class="span1">
            <a class="thumbnail" id="school1" >
			  <center>
				<button class="btn btn-super-mini  btn-left btn-default"><i class="icon-minus" onclick="minus_clicked(this.parentNode.parentNode.parentNode.id);"></i></button>
				<span>0</span>
				<button class="btn  btn-super-mini btn-right btn-default"><i class="icon-plus" onclick="plus_clicked(this.parentNode.parentNode.parentNode.id);"></i></button>	
			  </center>
              <img src="http://placehold.it/260x180" alt="">
              <h5>EEE</h5>
            </a>
          </li>
          <li class="span1">
            <a class="thumbnail" id="school2" >
			  <center>
				<button class="btn btn-super-mini  btn-left btn-default"><i class="icon-minus" onclick="minus_clicked(this.parentNode.parentNode.parentNode.id);"></i></button>
				<span>0</span>
				<button class="btn  btn-super-mini btn-right btn-default"><i class="icon-plus" onclick="plus_clicked(this.parentNode.parentNode.parentNode.id);"></i></button>	
			  </center>
              <img src="http://placehold.it/260x180" alt="">
              <h5>EEE</h5>
            </a>
          </li>
          <li class="span1">
            <a class="thumbnail" id="school3" >
			  <center>
				<button class="btn btn-super-mini  btn-left btn-default"><i class="icon-minus" onclick="minus_clicked(this.parentNode.parentNode.parentNode.id);"></i></button>
				<span>0</span>
				<button class="btn  btn-super-mini btn-right btn-default"><i class="icon-plus" onclick="plus_clicked(this.parentNode.parentNode.parentNode.id);"></i></button>	
			  </center>
              <img src="http://placehold.it/260x180" alt="">
              <h5>EEE</h5>
            </a>
          </li>
          <li class="span1">
            <a class="thumbnail" id="school4">
			  <center>
				<button class="btn btn-super-mini  btn-left btn-default"><i class="icon-minus" onclick="minus_clicked(this.parentNode.parentNode.parentNode.id);"></i></button>
				<span>0</span>
				<button class="btn  btn-super-mini btn-right btn-default"><i class="icon-plus" onclick="plus_clicked(this.parentNode.parentNode.parentNode.id);"></i></button>	
			  </center>
              <img src="http://placehold.it/260x180" alt="">
              <h5>EEE</h5>
            </a>
          </li>
          <li class="span1">
			<a class="thumbnail" id="school5" >		      
			  <center>
				<button class="btn btn-super-mini  btn-left btn-default"><i class="icon-minus" onclick="minus_clicked(this.parentNode.parentNode.parentNode.id);"></i></button>
				<span>0</span>
				<button class="btn  btn-super-mini btn-right btn-default"><i class="icon-plus" onclick="plus_clicked(this.parentNode.parentNode.parentNode.id);"></i></button>	
			  </center>
              <img src="http://placehold.it/260x180" alt="">
              <h5>EEE</h5>
            </a>
          </li>
          <li class="span1">
            <a class="thumbnail" id="school6" >
			  <center>
				<button class="btn btn-super-mini  btn-left btn-default"><i class="icon-minus" onclick="minus_clicked(this.parentNode.parentNode.parentNode.id);"></i></button>
				<span>0</span>
				<button class="btn  btn-super-mini btn-right btn-default"><i class="icon-plus" onclick="plus_clicked(this.parentNode.parentNode.parentNode.id);"></i></button>	
			  </center>
              <img src="http://placehold.it/260x180" alt="">
              <h5>EEE</h5>
            </a>
          </li>
         
        </ul>
       </div>	
<div style="clear:both"></div>
   <div id="alert_order" class="alert alert-error">	
</div>
    </div>
    <div id="name" class="pager">
        <li class="next">
            <a id="page1_next" onclick="order_proceed();">Next &rarr;</a>
        </li>
    </div>
</div>
</div>
<div style="clear:both"></div>
      <hr>

      <footer>
        <p>&copy; Company 2012</p>
      </footer>

    </div> <!-- /container -->
	
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/jquery-scrolltofixed.js"></script>
    <script src="../assets/js/bootstrap-transition.js"></script>
    <script src="../assets/js/bootstrap-alert.js"></script>
    <script src="../assets/js/bootstrap-modal.js"></script>
    <script src="../assets/js/bootstrap-dropdown.js"></script>
    <script src="../assets/js/bootstrap-scrollspy.js"></script>
    <script src="../assets/js/bootstrap-tab.js"></script>
    <script src="../assets/js/bootstrap-tooltip.js"></script>
    <script src="../assets/js/bootstrap-popover.js"></script>
    <script src="../assets/js/bootstrap-button.js"></script>
    <script src="../assets/js/bootstrap-collapse.js"></script>
    <script src="../assets/js/bootstrap-carousel.js"></script>
    <script src="../assets/js/bootstrap-typeahead.js"></script>
    <script src="../assets/js/main.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
                    $('.navbar').scrollToFixed();
        });
    </script>
  </body>
</html>
