<html>

  {% include "head.html" %}

  {% include "style.html" %}

<body>


<div id="wrapper">


  {% include "header.html" %}
                                            
                                            <div class="clear"></div>

  {% include "container.html" %}
                                            
                                            <div class="clear"></div>



  {% include "footer.html" %}
                                            <div class="clear"></div>
  

</div>
  
  
  

</body>
</html>
