<style>
body{
    text-align: center;
    background: url('http://static.wix.com/media/13f96aca655e3eca04f2f0dfb28ec976.wix_mp_crp_0_0_1280_800_1280_800_crp');
}

*{  
   margin:0;  
   padding:0;  
} 

#wrapper{  
   width:960px;  
   margin:0 auto;  
   text-align:left;
}

#header{
    width:100%;
    float:left;

}

#logo{
    float:left;
    width: 200px;
    height: 50px;
    border: solid 1px;
    margin: 5px;
}

#share{
    float:right;
    width: 300px;
    height: 50px;
    border: solid 1px;
    margin: 5px;
}

#container{
    float:left;
    background-color:#efe4d5;
}

#banner{
    height:340px;
    width:98%;
    padding:5px;
    border: solid 1px;
    margin-left:auto;
    margin-right:auto;
}

#contentpage{
    float:left;
}

#menu{
    margin-left: 240px;
}

.menu-list{
    float:left;
    width:80px;
    border: solid 1px;
    height: 30px;
    margin: 5px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
}

.news{
    height:200px;
    width:700px;
    border:solid 1px;
    margin: 5px;
}

#sidebar{
    width:240px;
    float:left;
    margin-left:7px;
}

.sidebar-item{
    height: 305px;
    border: solid 1px;
    margin: 3px;
}

#quick-gallery{
    height:250px;
    border:1px solid;
    margin: 5px;
}


#footer{
    width: 960px;
    float:left;
    background-color: #65aa23;
    margin-top:20px;
}


.footer-item{
    height: 200px;
    width: 295px;
    margin: 10px;
    float: left;
    border: solid 1px;
}

.clear{
    clear:both;
}

#container-page{
    float:left;
    background-color:#efe4d5;
    width: 100%;
}

#menu-page{
    float:left;
    width: 250px;
    border: solid 1px;
    margin: 5px;
}

.menu-list-page{
    list-style-type: none;
    height: 70px;
    width: 90px;
    border: solid 1px;
    margin: 5px;
    text-align: center;
    vertical-align: middle;
    line-height: 70px;
}

#content-page{
    float:left;
    width:670px;
    height: 700px;
    margin-left: 10px;
    border: solid 1px;
}

</style>

