  <div id="container" class="name">
     <div id="banner" class="name">
      
     </div>
     
     <div>
         <ul id="menu">
            <li class="menu-list">Home</li>
            <li class="menu-list">Edukasi</li>
            <li class="menu-list">Wisata</li>
            <li class="menu-list">Gallery</li>
            <li class="menu-list">Contact</li>
        </ul>
     </div>
                                                <div class="clear"></div>
     <div id="content" class="name">
        <div id="contentpage" class="name">
            <div class="news">
               
            </div>
            <div class="news">
               
            </div>
            <div class="news">
               
            </div>
        </div>
        
        <div id="sidebar" class="name">
            <div class="sidebar-item">
               
            </div>
            <div class="sidebar-item">
               
            </div>
        </div>
     </div>
                                               <div class="clear"></div>     
     <div id="quick-gallery">
      
     </div>
     
  </div>
  

